  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
}

.main{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    max-width: 800px;
    min-height: 500px;
    margin-top: 100px;
    margin-left: 390px;
    border-radius: 1px;
}


.img-container{
    background:url(./images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px 0 0 15px;
}
.section{
    background-color: #fff;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 30px ;
    height: 100%;
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}
.title{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.2rem;
    padding-right: 10px;
}
.para{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);   
    line-height: 1.2rem;
    padding-right: 30px;
}
.price{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.2rem;
    display: flex;
}
.price > .discount{
    color: hsl(228, 12%, 48%);  
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    align-self: center;
    padding-left: 1rem;
}
.cart{
    background-color: hsl(158, 36%, 37%);
    border: none;
    outline: none;
    border-radius:5px;
    padding: 12px 20px;
    display: flex;
    justify-content: center ;
}
.cart > .add-cart{
    color:  hsl(0, 0%, 100%);  
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}
@media only screen and (max-width : 475px) {
    .main{
        grid-template-columns: 1fr;
        max-width:fit-content;
        justify-content: center;
        margin: 1rem;]
    }
    .img-container{
        background:url(./images/image-product-mobile.jpg);
        background-size: cover;
        height:20rem;
        border-radius: 10px 10px 0px 0px;
        background-repeat: no-repeat;
    }
    .section{
        border-radius: 0px 0px 10px 10px;
        height: 390px;
    }
}


/*@media only screen and (min-width : 375px) {

body{
    background-color: hsl(30, 38%, 92%);
}
.main{
    display: grid;
    grid-template-rows: 332px 332px;
    height: 500px;
    margin:40px 10px 260px 10px;
}
.img-container{
    background:url(./images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 20%;
    border-radius: 15px 15px 0  0;
}
.section{
    background-color: #fff;
    border-radius: 0px 0px 15px 15px ;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 30px 20px ;
    height: 100%;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0%;
    color: hsl(228, 12%, 48%);
}
.title{
    margin: 10px 0px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
}
.para{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13.5px;
    color: hsl(228, 12%, 48%);   
    line-height: 1.2rem;
}
.price{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.2rem;
    display: flex;
}
.price > .discount{
    color: hsl(228, 12%, 48%);  
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    align-self: center;
    padding-left: 1rem;
}
.cart{
    background-color: hsl(158, 36%, 37%);
    border: none;
    outline: none;
    border-radius:5px;
    padding: 12px 20px;
    display: flex;
    justify-content: center ;
}
.cart > .add-cart{
    color:  hsl(0, 0%, 100%);  
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}
}*/